.menuRow {
  height: 10dvh;
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 0.4rem;
}

.cell {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cell:not(.tap) {
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
}

.cell.tap {
  max-width: 3.1rem;
  width: 100%;
}

.cell.name {
  width: 100%;
  max-width: 47.22rem;
}

.cell.type {
  width: 100%;
  max-width: 16rem;
  font-size: 2rem !important;
  padding: 0 0.4rem;
}

.cell.producer {
  width: 100%;
  max-width: 27rem;
}

.cell.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 8rem;
}

.info_box {
  font-size: 1.1rem;
}

.cell.volume {
  width: 100%;
  max-width: 6rem;
  font-size: 1.5rem;
  padding: 0.1rem 0.2rem;
  border: 1px solid silver;
  margin-right: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    -90deg,
    #00395b,
    #206d9d,
    #00224b,
    #0c0d0e
  );
}

.cell.price {
  max-width: 6.8rem;
  width: 100%;
}

.menuRow:nth-child(odd) {
  background: linear-gradient(180deg, #00395b, #00224b);
}

.menuRow:nth-child(even) {
  background: linear-gradient(180deg, #003a5c, #002a4b);
}
